*{
    margin: 0;
    padding: 0;
}

.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}


header{
    background-color:#FFF8F3 ;
    width: 1600px;
    height: 837px;
    background: url(./images/developer.png),url(./images/header_bg.png),#FFF8F3 ;
    background-position: 23px 38px, 767px 319px;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    justify-content: space-between; 
    padding-top: 50px;
    margin: 0 auto;
    width: 71%;
    max-width: 1140px;
}

nav div h2{
    font-size: 45px;
    font-weight: 800px;
}

nav div h2 span{
    color:#FD6E0A ;
}

nav ul{
    display: flex;
    gap: 51px; ;
   
}

ul{
    align-items: center;
}

ul li{
    list-style: none;
    color: #474747;
}

ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.btn{
   
    padding: 18px 35px;
    font-size: 20px;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#banner{
    margin: 48px 38px 0 230px;
    display: flex;
   /* gap: 163px;*/
    align-items: center;
    justify-content: space-between;
}

#banner .bnner-contant{
    max-width: 585px;
    max-height: 356px;
}

#banner .bnner-contant h3{
    font-size: 45px;
    font-weight: 600px;
    margin-bottom: 5px;
    color: #474747;
}


#banner .bnner-contant h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .bnner-contant p{
    font-size: 18px;
    color: #474747;
    margin-bottom: 20px;
    line-height: 30px;
}

#bn-btn {
    display:flex;
    gap: 30px;
}

#btn-btn .btn{
    font-size: 20px;
    font-weight: bold;
}

#btn-bn .btn #cv , .btn #rs{
    padding: 19px 17px 18px 51px ;
}

#btn-bn .btn #con{
    padding: 19px 23px 18px 58px ;
}

.banner-imge img{
    max-width: 585px;
    max-height: 676px;
    vertical-align: middle;
}

#about,#skill{
    padding-top: 130px;
    width: 1600px;
}

#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    text-align: center;
    background-color: #FFF8F3;
}

#about #about-area{
    max-width: 827px;
    padding: 131px 157px;
}

.section-heading h3{
       font-size: 35px;
       font-weight: bold;
       margin-bottom: 30px;
       counter-reset: #181818;
}

.section-heading p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}

#about-info{
    display: flex;
    justify-content: space-around;
}
.infor-card p{
    font-size: 20px;
    color:#757575;
    line-height: 30px;
}

.infor-card h4{
    font-size: 20px;
}

#skill .skill-container{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    text-align: center;
    background-color: FFFFFF;
}

.skill-container .section-heading p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    max-width: 827px;
    margin: 0 auto 50px auto;
}

.skill-card img{
    max-width: 44px;
    max-height: 44px;
    margin: 30px 193px 30px 30px;
}

.skill-set{
    display: flex;
    justify-content: space-between;
}

.skill-set .skill-card{
    max-width: 267px;
    max-height: 377px;
    box-shadow: 0px 4px 10px 0px  #00000040;
}

.skill-set .skill-card h4{
    font-size: 20px;
    color: #181818;
    font-weight: bold;
    text-align: left;
    margin: 0px 63px 20px 30px;
}

.skill-set .skill-card p{

    font-size: 16px;
    color: #757575;
    margin: 0 33px 30px 33px;
    text-align: left;
    line-height: 28px;
}

#resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 130px;
}

.resume-container .section-heading h3{
       font-size: 35px;
       font-weight: bold;
       margin-bottom: 130px;
       counter-reset: #181818;
       text-align: center;
}

.resume-info{
    display: flex;
    gap: 24px;
    margin-bottom: 20px;
}

.education h3,.experience h3{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 30px;
}

.education h4 ,.experience h4{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
    
}

.education h5 ,.experience h5{
    font-size: 20px;
    font-weight: 600px;
    color: #757575;
    margin-bottom: 20px;
}

.education p ,.experience p{
    font-size: 17px;
    color: #757575;
    line-height: 28px;
    margin-bottom:30px ;
    max-width: 511px;
}
hr{
     width: 558px;
     color: #D9D9D9;
     margin-bottom: 30px;
}

div #db{
   text-align: center;
}

footer{
    margin-top: 113px;
    background-color: #FFF8F3;
    padding: 130px 0px;
}

.footer-container{
   width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 117px;
}

.footer-container .soicial{
   
    max-width: 562px;
   
}

.footer-container h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

.footer-container .soicial p{
    font-size: 16px;
    line-height: 28px;
    color: #474747;
   margin-bottom: 30px;
}

.footer-container .soicial .icons {
   margin-right: 24px;
}

.footer-container .form{
    border: 1px solid black;
}



 .forma input[type="text"],[type="email"]{
    width: 461px;
    margin-bottom: 24px;
    padding: 18px 31px;
    border: none;
    border-radius: 5%;
    color: #757575;
}

.footer-container form textarea{
     width: 461px;
    margin-bottom: 24px;
    padding: 18px 31px;
    border: none;
    border-radius: 5%;
    color: #757575;
}

